.imgSlider {
  width: 100%;
  height: 100vh;
  background-image: url("/public/Images/carousel/1.JPG");
  background-size: 100% 100%;
  animation: changeImage 50s cubic-bezier(0.075, 0.82, 0.165, 1) infinite;
}

@keyframes changeImage {
  0% {
    background-image: url("/public/Images/carousel/3.JPG");
  }

  10% {
    background-image: url("/public/Images/carousel/13.JPG");
  }

  20% {
    background-image: url("/public/Images/carousel/1.JPG");
  }

  30% {
    background-image: url("/public/Images/carousel/4.JPG");
  }

  40% {
    background-image: url("/public/Images/carousel/5.JPG");
  }

  50% {
    background-image: url("/public/Images/carousel/7.JPG");
  }

  60% {
    background-image: url("/public/Images/carousel/6.jpg  ");
  }

  70% {
    background-image: url("/public/Images/carousel/9.JPG");
  }

  80% {
    background-image: url("/public/Images/carousel/10.JPG");
  }

  90% {
    background-image: url("/public/Images/carousel/11.JPG");
  }

  100% {
    background-image: url("/public/Images/carousel/12.JPG");
  }
} 

.Carousel-text {
  font-family: "Bruno Ace", cursive !important;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  margin: auto;
  display: flex;
  color: white;
  align-items: center;
  text-align: center;
}
