* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Quicksand", sans-serif;
  /* color: white; */
}

.carousel-text {
  position: absolute;
  top: 200px;
  margin: auto;
  text-shadow: 4px 4px 5px #000000;
  /* color: #919191; */
}

.carousel-div {
  height: 35vh;
  /* border-radius: 20%; */
  /* height:10px; */
}

.programBg1 {
  background-image: url("/public/Images/btech.png");
}
.programBg2 {
  background-image: url("/public/Images/mtech.png");
}

.programBg3 {
  background-image: url("/public/Images/ms.png");
}

.programBg4 {
  background-image: url("/public/Images/phd.png");
}

.programBgColor {
  background-color: rgb(0, 0, 0);
  background-color: rgba(5, 5, 5, 0.7);
}

/* /////////////////////////Footer/////////////////////////////////// */

/* /////////////////////////Counter//////////////////////////// */
.Counter-div {
  /* background-image: url(/public/Images/bg.jpg); */
  background-position: 100%;
}

.bg-text {
  background-color: rgb(0, 0, 0);
  background-color: rgba(5, 5, 5, 0.7);
}

.Footer-div {
  background-image: url(/public/Images/bg.jpg);
  background-position: 100%;
  background-size: cover;
}

/* //////////////////////////////Table//////////////////////////////// */
/* 
table,
th,
td {
  border: 1px solid black;
}

table {
  width: 60%;
  text-align: center;
  margin: auto;
}

td {
  width: 10%;
  padding: 1%;
}

th {
  background-color: var(--my-color);
  color: #fff;
  padding: 0.5%;
} */

.about-bg {
  /* background-image: url(/public/Images/about_bg.jpg); */
  background-position: 10%;
  background-size: cover;
  font-weight: 700;
}

.about-backdrop {
  backdrop-filter: blur(7px);
  padding: 7% 2%;
}

/* //HOD's note  */

/* .hod-note {
  color: #fff;
  background-color: #b2103f;
  margin-left: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4% 2%;
  margin-top: 5%;
} */

.note-txt {
  padding-left: 5%;
}

.note-img {
  box-shadow: 18px 14px 13px 5px rgba(0, 0, 0, 0.25);
}

#rectangle-l-outside {
  width: 60%;
  height: fit-content;
  clip-path: polygon(60% 0, 100% 40%, 100% 100%, 0 100%, 0 0);
  float: right;
  background: #000;
  box-sizing: border-box;
}
#rectangle-l-inside {
  width: 100%;
  height: fit-content;
  position: relative;
  top: 1px;
  right: 1px;
  clip-path: polygon(60% 0, 100% 40%, 100% 100%, 0 100%, 0 0);
  float: right;
  background-color: white;
}

#rectangle-r-outside {
  width: 60%;
  height: fit-content;
  text-align: right;
  background-color: #000;
  clip-path: polygon(45% 0, 100% 0, 100% 100%, 0 100%, 0 60%);
}
#rectangle-r-inside {
  width: 100%;
  height: fit-content;
  top: 1px;
  position: relative;
  left: 1px;
  text-align: right;
  background-color: white;
  clip-path: polygon(45% 0, 100% 0, 100% 100%, 0 100%, 0 60%);
}

.test{
  color:#dfdfdf
}

.bg_border {
  background-image: url("/public/Images/body_bg_1.png");
  background-repeat: repeat-y;
  background-size: 100%;
}
