
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Quicksand", sans-serif;
  color:white;
}

.carousel-text {
  position: absolute;
  top: 200px;
  margin: auto;
  text-shadow: 4px 4px 5px #000000;
  /* color: #919191; */
}

.carousel-div {
  height: 35vh;
  /* border-radius: 20%; */
  /* height:10px; */
}

/* /////////////////////////Footer/////////////////////////////////// */

/* /////////////////////////Counter//////////////////////////// */
.Counter-div {
  /* background-image: url(/public/Images/bg.jpg); */
  background-position: 100%;
}

.bg-text {
  background-color: rgb(0, 0, 0);
  background-color: rgba(5, 5, 5, 0.7);
}

.Footer-div {
  /* background-image: url(/public/Images/bg.jpg); */
  background-position: 100%;
  background-size: cover;
}

/* //////////////////////////////Table//////////////////////////////// */

table,
th,
td {
  border: 1px solid black;
}

table {
  width: 60%;
  text-align: center;
  margin: auto;
}
td {
  width: 10%;
  padding: 1%;
}
th {
  background-color: var(--my-color);
  color: #fff;
  padding: 0.5%;
}

.about-bg {
  /* background-image: url(/public/Images/about_bg.jpg); */
  background-position: 10%;
  background-size: cover;
  font-weight: 700;
}
.about-backdrop {
  backdrop-filter: blur(7px);
  padding: 7% 2%;
}